In [1]:
import pandas as ka #source code untuk cek version
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.19.2

In [4]:
#membentuk data frame yang terdiri dari 2 buah kolom yang sama persis
data = {'O':[15,15,18,ii.nan,12], #data Kolom O
        'P':[15,15,18,ii.nan,12]} #data Kolom P
df = ka.DataFrame(data)
df

      O     P
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [5]:
#pandas series
df['O']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: O, dtype: float64

In [6]:
#type data series
type (df['O'])

pandas.core.series.Series

In [7]:
#type data Frame
type (df)

pandas.core.frame.DataFrame

In [9]:
#membandingkan nilai yang ditampung kedua buah series dengan memanfaatkan ==

df['O']== df['P']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [10]:
#membandingkan nilai yang ditampung kedua buah series dengan memanfaatkan equals()

df['O'].equals (df['P'])

True

In [11]:
#memeriksa kesamaan 2 data frame

df1 = df.copy(deep=True)
df.equals(df1)

True

In [12]:
df == df1

       O      P
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True