In [2]:
import pandas as ka #source code untuk cek version
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.19.2

In [24]:
#pandas data frame
n_rows = 5 #baris yang terdiri dari 5 baris
n_cols = 5 # kolom yang terdiri dari 5 kolom
cols = tuple ('GHIJK') #label yang akan diberikan untuk kolom
df = ka.DataFrame(ii.random.randint(1, 10, size=(n_rows, n_cols)), #object data frame yang akan diisi oleh random integer dari angka 1-10
                  columns=cols) 
df

   G  H  I  J  K
0  9  5  9  4  8
1  5  8  1  1  3
2  8  8  4  7  6
3  6  5  4  4  3
4  8  3  6  2  8

In [23]:
tuple('GHIJK')

('G', 'H', 'I', 'J', 'K')

In [25]:
df. add_prefix('kolom_') #menambahkan prefix untuk semua nama kolomnya

   kolom_G  kolom_H  kolom_I  kolom_J  kolom_K
0        9        5        9        4        8
1        5        8        1        1        3
2        8        8        4        7        6
3        6        5        4        4        3
4        8        3        6        2        8

In [26]:
df. add_suffix('_field') #menambahkan suffix dibagian belakang semua nama kolomnya

   G_field  H_field  I_field  J_field  K_field
0        9        5        9        4        8
1        5        8        1        1        3
2        8        8        4        7        6
3        6        5        4        4        3
4        8        3        6        2        8