In [1]:
import pandas as ka

print(ka.__version__)

1.1.3

In [3]:
#untuk membuat data frame dummy yang memiliki missing values
df = ka.util.testing.makeMissingDataframe().reset_index()
df.head()

/opt/anaconda3/lib/python3.8/site-packages/pandas/util/__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  odsznegNL7 -0.846224  1.126368 -0.007235  1.029593
1  xryJaY7xwU  0.402216  1.551617  0.969158       NaN
2  WBee8QwUEu  0.318026 -2.231194 -1.162135 -0.400426
3  V2tKiFKNPU  0.737495  1.394655  1.219070 -0.756473
4  5BrnlMp6FB       NaN       NaN -1.804825  0.108517

In [9]:
#merubah kolom "index" menjadi kolom "Z"
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  odsznegNL7 -0.846224  1.126368 -0.007235  1.029593
1  xryJaY7xwU  0.402216  1.551617  0.969158       NaN
2  WBee8QwUEu  0.318026 -2.231194 -1.162135 -0.400426
3  V2tKiFKNPU  0.737495  1.394655  1.219070 -0.756473
4  5BrnlMp6FB       NaN       NaN -1.804825  0.108517

In [10]:
df_backup=df.copy(deep=True)

In [11]:
#menghapus setiap kolom yang mengandung missing values
df=df.dropna(axis='columns')
df.head()

            Z
0  odsznegNL7
1  xryJaY7xwU
2  WBee8QwUEu
3  V2tKiFKNPU
4  5BrnlMp6FB

In [12]:
#menghapus setiap baris/rows yang mengandung missing values
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  odsznegNL7 -0.846224  1.126368 -0.007235  1.029593
2  WBee8QwUEu  0.318026 -2.231194 -1.162135 -0.400426
3  V2tKiFKNPU  0.737495  1.394655  1.219070 -0.756473
6  QWfOZk7SnY  0.321478 -1.748996  0.280341  0.701574
7  rhp5Z1apnZ -0.565078  0.484593  2.468877  0.572989

In [13]:
#melihat persentase value untuk tiap kolomnya
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.066667
B    0.033333
C    0.100000
D    0.200000
dtype: float64

In [17]:
#menghapus setiap missing value berdasarkan treshold
threshold = len(df)*0.9
df = df.dropna(thresh=threshold, axis='columns')
df.head()

            Z         A         B         C
0  odsznegNL7 -0.846224  1.126368 -0.007235
1  xryJaY7xwU  0.402216  1.551617  0.969158
2  WBee8QwUEu  0.318026 -2.231194 -1.162135
3  V2tKiFKNPU  0.737495  1.394655  1.219070
4  5BrnlMp6FB       NaN       NaN -1.804825