# Seleksi Weekdays & weekend pada data deret waktu

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [4]:
n_rows=385
n_cols=2
cols=['col1', 'col2']

df = pd.DataFrame(np.random.randint(1,20, size=(n_rows, n_cols)),
                 columns=cols)
df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

/opt/anaconda3/lib/python3.8/site-packages/pandas/util/__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

            col1  col2
2000-01-01     3    17
2000-01-02    10     6
2000-01-03    16     3
2000-01-04     4    16
2000-01-05     4    15
...          ...   ...
2001-01-15     4    14
2001-01-16    11    14
2001-01-17    11     3
2001-01-18    19     6
2001-01-19     5     7

[385 rows x 2 columns]

# Seleksi weekday dan Weekends

day of week  akan mengindikasi hari pada suatu minggu tertentu
atribut .index.dayofweek, atribut ini hanya bisa di akses jika data frame kita merupakan data frame time series
jika data frame tidak memiliki index date time maka atribut ini tidak bisa di akses

In [6]:
weekdays_df=df[df.index.dayofweek.isin([0,1,2,3,4])]
weekdays_df.head(7)

            col1  col2
2000-01-03    16     3
2000-01-04     4    16
2000-01-05     4    15
2000-01-06    18    18
2000-01-07     4     9
2000-01-10     8    16
2000-01-11     4    18

menyeleksi data dengan kategori weekend

In [7]:
weekdays_df=df[df.index.dayofweek.isin([5,6])]
weekdays_df.head(7)

            col1  col2
2000-01-01     3    17
2000-01-02    10     6
2000-01-08     6    15
2000-01-09     5    13
2000-01-15    17    14
2000-01-16    15    19
2000-01-22    16     2