# Menerapkan agregasi pada sejumlah kolom dengan agg ()

In [6]:
import pandas as pd
print(pd.__version__)

1.1.3

In [ ]:
df = pd.read_csv('C:/Users/user/OneDrive/Desktop/aa/titanicfull.csv')
df.head()

# Menerapkan agregasi pada sejumlah kolom dengan agg ( )

In [ ]:
df.groupby('pclass').agg({'pclass':'count',
                        'age':['mean','max'],
                        'survived':'mean'})

In [ ]:
df.groupby('pclass').agg(n_pass=('pclass','count'),
                         avg_age=('age','mean'),
                         avg_age=('age','max'),
                        survival_rate=('survived','mean')