In [1]:
import pandas as ka #source code untuk cek version
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.2.4
1.20.1

In [2]:
#Membuat data Frame
n_rows = 5 #baris yang terdiri dari 5 baris
n_cols = 5 # kolom yang terdiri dari 5 kolom
cols = tuple ('GHIJK') #label yang akan diberikan untuk kolom
df = ka.DataFrame(ii.random.randint(1, 20, size=(n_rows, n_cols)), #object data frame yang akan diisi oleh random integer dari angka 1-10
                  columns=cols) 
df

    G   H   I   J   K
0   9   4  14  15   2
1  10  17  15  14   1
2   3   3  15   5   3
3  12   3   9  18  13
4  17  19  13   2  12

In [3]:
#membuat loc yang dibagi menjadi 2 bagian
#loc yang pertama digunakan untuk mengatur baris
#loc yang kedua digunakan untuk mengatur kolom

df.loc[[0,3,4], ['H','K']]

    H   K
0   4   2
3   3  13
4  19  12

In [4]:
#melakukan seleksi pada baris H dengan nilai di atas 10
#dan melakukan seleksi pada kolom H,J dan K
df.loc[df['H']>10, ['H','J','K']]

    H   J   K
1  17  14   1
4  19   2  12

In [5]:
#memanfaatkan loc dengan teknik slicing
df.loc[0:4, 'H': 'D']

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]