In [1]:
import pandas as ka #source code untuk cek version
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.1.3

In [20]:
#data frame pandas
n_rows = 10 
n_cols = 1
cols = ('usia' ,)
df = ka.DataFrame(ii.random.randint(1, 99, size=(n_rows, n_cols)),
                 columns=cols)
df

   usia
0    88
1    86
2    27
3    41
4    34
5    17
6    65
7     6
8    69
9    55

In [21]:
df['kelompok_usia'] = ka.cut(df['usia'],
                            bins = [0, 18, 65, 99],
                            labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    88        manula
1    86        manula
2    27        dewasa
3    41        dewasa
4    34        dewasa
5    17          anak
6    65        dewasa
7     6          anak
8    69        manula
9    55        dewasa