In [1]:
import pandas as ka
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.19.2

In [2]:
ka.DataFrame({'col1':[1, 2, 3, 4],
             'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [3]:
n_rows = 5
n_cols = 3

arr = ii.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[10,  8,  9],
       [ 3,  8, 10],
       [16, 18,  4],
       [14, 13,  1],
       [15, 13,  8]])

In [4]:
ka.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  10   8   9
1   3   8  10
2  16  18   4
3  14  13   1
4  15  13   8

In [5]:
ka.util.testing.makeDataFrame().head()

/opt/anaconda3/lib/python3.8/site-packages/pandas/util/__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
9Z0VmooMwH  0.614832 -2.525618 -1.272764 -0.210644
Rcdt1lZwQB  0.800700 -1.313757  1.053421  0.778599
PIIJidzOKY -0.131413  1.432791  1.058808 -0.615364
LsLO8SusEo -1.220158 -2.335354  0.575635 -0.765409
kKw4qA1L55 -1.186021 -1.314013  0.783551  1.619342

In [6]:
ka.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
ka.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -2.047102  1.010239 -0.520407 -0.000130
2000-01-04  0.767659  0.572748 -0.133035 -2.316066
2000-01-05 -0.456435  0.392393  0.240062  1.253281
2000-01-06  0.267664 -2.281512 -0.168700 -0.943158
2000-01-07  1.007309  2.215821 -0.165856 -0.481026

In [9]:
ka.util.testing.makeMissingDataframe().head()

                   A         B         C         D
sNHU9N7Z5T       NaN  0.828913 -0.736146 -0.586294
bEu6SpyZcb       NaN       NaN  0.466717       NaN
fnA9G4gD0k -0.764810  1.458159  0.120588  1.693704
wbGIeHllci       NaN -0.886383  0.973533  0.501309
KFxsoJexZ1 -0.576769 -0.613389 -0.078212  0.486906