In [7]:
import pandas as ka
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.19.2

In [8]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = ka.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C  D   E
0  18  17  19  4   2
1   8  13  14  4   9
2  15  19   2  6  17
3   6   6  12  8  11
4   2  13  15  7  15

In [12]:
df.query('A > 5')

    A   B   C  D   E
0  18  17  19  4   2
1   8  13  14  4   9
2  15  19   2  6  17
3   6   6  12  8  11

In [15]:
rerata = df['A'].mean()
rerata

9.8

In [16]:
df.query('A > @rerata')

    A   B   C  D   E
0  18  17  19  4   2
2  15  19   2  6  17