In [1]:
import pandas as ka #source code untuk cek version
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.19.2

In [2]:
#Membuat data Frame
n_rows = 5 #baris yang terdiri dari 5 baris
n_cols = 5 # kolom yang terdiri dari 5 kolom
cols = tuple ('GHIJK') #label yang akan diberikan untuk kolom
df = ka.DataFrame(ii.random.randint(1, 20, size=(n_rows, n_cols)), #object data frame yang akan diisi oleh random integer dari angka 1-10
                  columns=cols) 
df

    G   H   I   J   K
0  11   3  15   9  10
1   9  13  16  10   1
2   4   1   2  11  10
3  10   4  11  18   4
4   9  13  12  18  19

In [3]:
#mengecek shape dari data frame
df.shape

(5, 5)

In [6]:
#membagi data frame menjadi 2 bagian dengan proporsi 70% 
#untuk data frame yang pertama dan 30% untuk sisanya
proporsl = 0.7
df_1 = df.sample(frac=proporsl)
df_2 = df.drop(df_1.index)

print (f'df_1 shape: {df_1.shape}')
print (f'df_2 shape: {df_2.shape}')

df_1 shape: (4, 5)
df_2 shape: (1, 5)

In [7]:
#melihat isi dari df_1
df_1

    G   H   I   J   K
2   4   1   2  11  10
1   9  13  16  10   1
4   9  13  12  18  19
0  11   3  15   9  10

In [8]:
#melihat isi dari df_2
df_2

    G  H   I   J  K
3  10  4  11  18  4