In [1]:
import pandas as ka #source code untuk cek version
import numpy as ii

print(ka.__version__)
print(ii.__version__)

1.1.3
1.19.2

In [12]:
n_row = 5 #baris terdiri dari 5 baris
n_col = 2 #kolom terdiri dari 2 baris
col = ['bilangan pecahan', 'bilangan bulat'] #untuk nama kedua kolom

df = ka.DataFrame(ii.random.randint(1, 20, size=(n_row, n_col)),#object data frame yang akan diisi oleh random integer dari angka 1-5
                 columns=col)
df['bilangan pecahan'] = df['bilangan pecahan'].astype('float') #mengkonversi bilangan yang terdapat pada kolom bil_pecahan

df.index = ka.util.testing.makeDateIndex(n_row, freq='l')
df = df.reset_index()

df['text'] = list('GHIJK') #menambah 1 kolom yang berisikan data string yaitu "GHIJK"
df

                    index  bilangan pecahan  bilangan bulat text
0 2000-01-01 00:00:00.000              19.0               3    G
1 2000-01-01 00:00:00.001               6.0               1    H
2 2000-01-01 00:00:00.002              18.0              16    I
3 2000-01-01 00:00:00.003              16.0               2    J
4 2000-01-01 00:00:00.004              19.0               3    K

In [13]:
df.dtypes #untuk melihat type data apa yang terbentuk di atas

index               datetime64[ns]
bilangan pecahan           float64
bilangan bulat               int64
text                        object
dtype: object

In [14]:
df.select_dtypes(include = 'number') #menampilkan kolom yang bertype data numeric saja

   bilangan pecahan  bilangan bulat
0              19.0               3
1               6.0               1
2              18.0              16
3              16.0               2
4              19.0               3

In [15]:
df.select_dtypes(include = 'float') #menampilkan kolom yang bertype data float saja

   bilangan pecahan
0              19.0
1               6.0
2              18.0
3              16.0
4              19.0

In [16]:
df.select_dtypes(include = 'int') #menampilkan kolom yang bertype data integer saja

   bilangan bulat
0               3
1               1
2              16
3               2
4               3

In [17]:
df.select_dtypes(include = 'object') #menampilkan kolom yang bertype data string saja

  text
0    G
1    H
2    I
3    J
4    K

In [18]:
df.select_dtypes(include = 'datetime') #menampilkan kolom yang bertype data date time saja

                    index
0 2000-01-01 00:00:00.000
1 2000-01-01 00:00:00.001
2 2000-01-01 00:00:00.002
3 2000-01-01 00:00:00.003
4 2000-01-01 00:00:00.004

In [19]:
df.select_dtypes(include = ['number','object']) #menampilkan kolom yang bertype data kombinasi antara type data numeric dan integer

   bilangan pecahan  bilangan bulat text
0              19.0               3    G
1               6.0               1    H
2              18.0              16    I
3              16.0               2    J
4              19.0               3    K